<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:gfe="http://www.springframework.org/schema/gemfire"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	   	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/gemfire http://www.springframework.org/schema/gemfire/spring-gemfire.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
">

	<context:property-placeholder/>

	<util:properties id="gemfireProperties">
		<prop key="name">SpringGemFireExampleApplication</prop>
		<prop key="mcast-port">0</prop>
		<prop key="log-level">${gemfire.log.level:config}</prop>
		<prop key="locators">${gemfire.locator.host-port:localhost[10334]}</prop>
	</util:properties>

	<gfe:cache properties-ref="gemfireProperties" use-cluster-configuration="true"/>

	<gfe:partitioned-region id="SpringRegion" persistent="false"/>

	<gfe:cache-server auto-startup="true" bind-address="${gemfire.cache.server.bind-address:localhost}"
					  host-name-for-clients="${gemfire.cache.server.hostname-for-clients:localhost}"
					  port="${gemfire.cache.server.port:40404}"
					  max-connections="10"/>

	<gfe:replicated-region id="ClusterConfigRegionOne" persistent="false" ignore-if-exists="true"/>

</beans>
